/***********************common cssstart**************/

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}

.img {
    vertical-align: middle;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.clr {
    clear: both;
}



/***********************common css end**************/





/*********************** header part start**************/

#header_part {
    height: 100px;
    text-align: center;
    background: #131e29;
    border-bottom: 1px solid #556e85;
}

.logo {
    width: 170px;
    float: left;
    padding: 16px 0;

}

.main_menu {
    width: 1000px;
    float: left;


}

.main_menu ul {
    float: right;
}

.main_menu ul li {
    float: left;
    margin-right: 30px;
}

.main_menu ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding: 0 16px;
    line-height: 100px;
    transition: all linear .3s;
    -moz-transition: all linear .3s;
    -0-transition: all linear .3s;
    -webkit-transition: all linear .3s;

}

.main_menu ul li a:hover {
    color: #4bcaff;
    background: #5a908a;

}


/*********************** header part end**************/




/*********************** banner part start**************/
#banner_part {
    padding: 190px 0;
    background: url(../images/b1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.banner_cont {
    position: relative;
}

.banner_text {
    width: 440px;
    float: right;
}

.banner_text h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    font-weight: 400;
    color: #fff;

}

.banner_text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    line-height: 15px;
    margin-top: 15px;
}

.banner_button a {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    width: 70px;
    padding: 10px 40px;
    border: 2px solid #fff;
    float: left;
    color: #fff;
    line-height: 15px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 8%;
    transition: all linear .3s;
    -moz-transition: all linear .3s;
    -0-transition: all linear .3s;
    -webkit-transition: all linear .3s;
    box-shadow: 0 0 1px.6px;
}

.banner_button a:hover {
    background: #4bcaff;
    border: 2px solid#4bcaff;
}

.banner_social p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    float: left;
    color: #fff;
    margin-right: 20px;
}

.icon {
    margin-top: 50px;

}

.icon img {
    float: left;
    margin-left: 11px;
}

/*********************** banner part end**************/




/*********************** design part start**************/
#design_part {
    padding: 50px 0;
    text-align: center;
    background: #f9f9f9;
}

.design_head h3 {

    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;


    color: #414042;
}

.design_head p {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #414042;
}

.design_col {
    width: 20%;
    float: left;
    margin-left: 57px;
}

.design_col h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 20px;
    transition: all linear .3s;
    -moz-transition: all linear .3s;
    -0-transition: all linear .3s;
    -webkit-transition: all linear .3s;

    color: #414042;
}

.design_col h4:hover {

    color: #4bcaff;

}

.design_col p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
    line-height: 20px;
    margin-top: 15px;
    color: #838383;

    width: 227px;
}

.design_col:nth-child(1) {
    margin-left: 0;
}


.design_shape {
    background: #4bcaff;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    margin-left: 70px;
    border: 2px solid #4bcaff;
    margin-top: 70px;
    box-shadow: 1px 1px 6px.6px;
}

.design_shape img {
    margin-top: 15px;
    width:60px;
    height:60px;

}






/*********************** design part end**************/





/*********************** gallery part start**************/
#gallery_part {
    padding: 50px 0;
    text-align: center;
    background: #fff;
}

.gallery_head h3 {

    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;


    color: #414042;
}

.gallery_head p {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #414042;
}
.gallery_inner{
     margin-top:50px;;
}
.gallery_col {
    width: 20%;
    float: left;
    margin-left: 57px;
   
}
.gallery_col:nth-child(1) {
    margin-left: 0;
}
.gallery_shape {
    background: #4bcaff;
    height: 200px;
    width: 270px;
  
    border-radius: 5%;
    position: relative;
  
}
.gallery_foot{
   background: #447084;
    height:48px;
    width: 270px;
   position: absolute;
    content: '';
    top:153px;
  
    border-radius: 11%;
   
  
    
}
.gallery_foot h5{
    height:48px;
    width:271px;
    margin-top:15px;
    color:#4bcaff;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;

   
}
.gallery_col p{
      font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top:20px;
    color: #414042;
}



/***********************gallery part end**************/




/***********************client part start**************/

#client_part{
    padding: 50px 0;
    text-align: center;
    background:url(../images/clients.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.client_head h2{
    font-family: 'Open Sans', sans-serif;
    font-size:35px;
    font-weight: 400;
    margin-top:28px;
    color: #fff;
  
}
.client_inner{
  
    padding:0 185px;
}
.client_inner p{
      font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight: 400;
    margin-top:28px;
    color: #fff;
    padding: 0 84px;
    text-align: justify;
    margin-left:82px;
    
}






/***********************client part end**************/




/***********************package part start**************/
#pack_part{
    padding:50px 0;
    background:#fff;
    text-align: center;
    border-bottom:1px solid#f9f9f9; 
}
.pack_head h3 {

    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;


    color: #414042;
}
.pack_head p {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #414042;
}

.pack_col1{
    width:30%;
    float:left;
  margin-left:27px;
     margin-top:80px;
}
.pack_col1 h4{
    padding:30px 0;
        font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
text-transform: uppercase;

    color: #d7d7d7;
}
.pack_shape {
   width:260px;
    height:350px;
    background:#f9f9f9;
    border:1px solid#dad7d7;
    
    position: relative;
  
}
.pack_middle{
   background: #91c46b;
    height:100px;
    width: 260px;
   position: absolute;
    content: '';
    top:75px;
    
   
     
}
.pack_middle h5{
    
    margin-top:15px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;

   
}
.pack_list{
    position: relative;
    content: '';
    top:100px;
}
.pack_list ul li a{
    color:#d7d7d7;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top:10px;
    
}
.pack_button{
    position: absolute;
    content: '';
    top:280px;
    
    left:44px;
}
.pack_button a{
    background: #91c46b; 
     color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width:170px;
    height:15px;
    padding:18px 0;
    line-height:15px;
    text-transform: uppercase;
}
.pack_col2{
    width:30%;
    float:left;
    margin-left:10px;
    margin-top:50px;
}
.pack_col2 h4{
    padding:30px 0;
        font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
text-transform: uppercase;

    color: #4bcaff;
}
.col2_shape {
   width:330px;
    height:420px;
    background:#f9f9f9;
    border:1px solid#dad7d7;
    
    position: relative;
  
}
.col2_middle{
   background: #4bcaff;
    height:100px;
    width: 330px;
   position: absolute;
    content: '';
    top:75px;
    
   
     
}
.col2_middle h5{
    
    margin-top:25px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;

   
}
.col2_list{
    position: relative;
    content: '';
    top:115px;
}
.col2_list ul li a{
    color:#4bcaff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top:10px;
    
}
.col2_button{
    position: absolute;
    content: '';
    top:330px;
    
    left:93px;
}
.col2_button a{
    background: #4bcaff; 
     color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width:170px;
    height:15px;
    padding:18px 0;
    line-height:15px;
    text-transform: uppercase;
}



.pack_col3{
    width:30%;
    float:left;
  margin-left:64px;
     margin-top:80px;
}
.pack_col3 h4{
    padding:30px 0;
        font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
text-transform: uppercase;

    color: #d7d7d7;
}
.pack_shape3 {
   width:260px;
    height:350px;
    background:#f9f9f9;
    border:1px solid#dad7d7;
    
    position: relative;
  
}
.pack_middle3{
   background: #fd7c00;
    height:105px;
    width: 260px;
   position: absolute;
    content: '';
    top:65px;
    
   
     
}
.pack_middle3 h5{
    
    margin-top:15px;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;

   
}
.pack_list3{
    position: relative;
    content: '';
    top:100px;
}
.pack_list3 ul li a{
    color:#d7d7d7;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top:10px;
    
}
.pack_button3{
    position: absolute;
    content: '';
    top:280px;
    
    left:44px;
}
.pack_button3 a{
    background: #fd7c00; 
     color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width:170px;
    height:15px;
    padding:18px 0;
    line-height:15px;
    text-transform: uppercase;
}
    





/***********************package part end**************/



/***********************testimonial part start************/
#test_part{
    padding:50px 0;
    text-align: center;
}
.test_head h3{
    
   font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;


    color: #414042;

}

.test_col1{
    width:45%;
    float:left;
    margin-left:230px;
    margin-top:50px;
}
.shape{
   position:absolute;
   
}
.shape img{
margin-left: 30px;
}
.inner_img {
    position: relative;
    content: '';
    bottom:136px;
   
  
}
.test_col2{
    width:45%;
    margin-left:408px;
    margin-top:44px;
    float: left;
   
}
.test_col2 p{
      font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
 padding:0 70px;
text-align: justify;
    color: #4bcaff;
    line-height:18px;
}
.test_col2 h5{
   text-align: right;
    margin-top:10px;
    padding: 0 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4bcaff;
}






/***********************testimonial part end**************/






/***********************download part start**************/
#down_part{
    padding:50px 0;
    text-align: center;
    background:#414042;
}
.down_head h2{
    font-family: 'Open Sans', sans-serif;
    font-size:40px;
    font-weight:600;
    color:#ffffff;
}


.down_button a{
    margin-top:20px;
   width:196px;
    height:50px;;
    line-height:50px; ;
    border-radius:10%;
    color:#414042;
    background:#4bcaff;
}

/***********************download  part end**************/












/***********************container part start**************/

#contact_part{
    padding:50px 0;
    text-align:center;
    background:url(../images/contact.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contact_shape{
    width:300px;
    height:430px;
    background:#64ceee;
    margin-left:425px;
    margin-top:30px;
}
.shape_head h4{
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
    font-weight:600;
    color:#ffffff;
    padding-top:30px;
    margin-bottom:15px;
    
}
.form1 input{
    padding: 0 19px;
    width:160px;
    height:30px;
    margin-top:8px;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight:400;
    color:#554e4e;
    text-align: center;
    border-radius:9%;
}
.form2 input{
    padding: 0 19px;
    width:160px;
    height:30px;
    margin-top:8px;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight:400;
    color:#554e4e;
    text-align: center;
    border-radius:9%;
}
.form3 input{
    padding: 0 19px;
    width:160px;
    height:30px;
    margin-top:8px;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight:400;
    color:#554e4e;
    text-align: center;
    border-radius:9%;
}
.form4 input{
    padding: 0 19px;
    width:160px;
    height:108px;
    margin-top:8px;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight:400;
    color:#554e4e;
    text-align: justify
   
}
.form_button button{
    
width:113px;
    height:35px;
    margin-top:28px;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight:400;
background:#414042;
    color:#4bcaff;
    border-radius:9%;
}







/***********************contact part end**************/

/***********************footer part start*************/
#footer_part{
    padding:50px 0;
    background:#414042;
}

.foot_col1{
    float:left;
    width:50%;
}
.foot_col1 p{
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight:400;

    color:#7b7777;
}
.foot_col2{
    float:left;
    width:50%;
}
.foot_col2 p{
     font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight:400;
margin-left:375px;
    color:#7b7777;
}

/***********************footer part end**************/
